@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

body {
  margin: 0;
  font-family: 'Concert One', sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: navy;
  min-height: 100vh;
  background: linear-gradient(to top, #8ca9d3, #f0eff4);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: navy;
}
